{% load static %}
<!DOCTYPE html>
<html>
	<head><!--Cabecera, espacio que no se veen nuestra página web-->
		<!--link(enlaza una informacion de una pagina con otra)relacion, hoja de estilo, tipo,documento.css-->
        <!-- carga css  -->

		 <!--carga imagen -->


		<title>Gestion Alumnos</title>
	</head>
	<body>
		<header><!--Cabecera, espacio que si se ve nuestra página web-->
			<h1>Gestion de alumnos</h1>
		</header>
		<!-- inicia el for con parametro de views -->
	{% for p in persona %}

                    <h5 class="h5">{{ p.nombre }}</h5>
                    <h6 class="h6">{{ p.apellido }}</h6>
        <br>
       <!-- cierra el for-->
            {% endfor %}

	</body>
</html>